.hide {
  display: none;
}

.facedown-card {
  display: block;
  margin: auto;
}

.faceup-card {
  display: block;
  border: 1px solid black;
  text-align: center;
  font-size: 8em;
}

.selected-card {
  display: block;
  border: 1px solid blue;
}